<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>NT14_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,2},{172,246}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,4},{172,246}}</string>
                <key>sourceSize</key>
                <string>{330,260}</string>
            </dict>
            <key>NT15_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{204,246}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,4},{204,246}}</string>
                <key>sourceSize</key>
                <string>{330,260}</string>
            </dict>
            <key>NT16_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{222,248}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,3},{222,248}}</string>
                <key>sourceSize</key>
                <string>{330,260}</string>
            </dict>
            <key>NT17_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{186,246}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,4},{186,246}}</string>
                <key>sourceSize</key>
                <string>{330,260}</string>
            </dict>
            <key>NT18_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,2},{150,246}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,4},{150,246}}</string>
                <key>sourceSize</key>
                <string>{330,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Items32-hd.pvr.ccz</string>
            <key>size</key>
            <string>{946,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7e22521347dbf40851138d453b02939$</string>
            <key>textureFileName</key>
            <string>Items32-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
