<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>howtoplay_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{448,524}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{448,524}}</string>
                <key>sourceSize</key>
                <string>{460,530}</string>
            </dict>
            <key>howtoplay_0_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{270,38}}</string>
                <key>offset</key>
                <string>{0,117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,129},{270,38}}</string>
                <key>sourceSize</key>
                <string>{460,530}</string>
            </dict>
            <key>howtoplay_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,326},{128,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{128,128}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>howtoplay_10_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,70},{222,52}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,15},{222,52}}</string>
                <key>sourceSize</key>
                <string>{340,90}</string>
            </dict>
            <key>howtoplay_11_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{366,52}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{366,52}}</string>
                <key>sourceSize</key>
                <string>{400,90}</string>
            </dict>
            <key>howtoplay_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,230},{138,94}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,35},{138,94}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>howtoplay_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{222,206}}</string>
                <key>offset</key>
                <string>{-5,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,12},{222,206}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>howtoplay_3_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{234,68}}</string>
                <key>offset</key>
                <string>{-7,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,223},{234,68}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>howtoplay_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,588},{210,218}}</string>
                <key>offset</key>
                <string>{5,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,7},{210,218}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>howtoplay_4_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{276,68}}</string>
                <key>offset</key>
                <string>{2,-108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,224},{276,68}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>howtoplay_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{84,66}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{84,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>howtoplay_5_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{38,20}}</string>
                <key>offset</key>
                <string>{-1,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,6},{38,20}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>howtoplay_6_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{200,98}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,16},{200,98}}</string>
                <key>sourceSize</key>
                <string>{280,130}</string>
            </dict>
            <key>howtoplay_7_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{222,50}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,16},{222,50}}</string>
                <key>sourceSize</key>
                <string>{350,90}</string>
            </dict>
            <key>howtoplay_8_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{352,50}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{352,50}}</string>
                <key>sourceSize</key>
                <string>{370,90}</string>
            </dict>
            <key>howtoplay_9_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{324,90}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,7},{324,90}}</string>
                <key>sourceSize</key>
                <string>{400,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Items03-hd.pvr.ccz</string>
            <key>size</key>
            <string>{452,1326}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4b954f2bea7a66f97d4dad1539c85fd$</string>
            <key>textureFileName</key>
            <string>Items03-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
