<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bossiscoming.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{598,436}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{598,436}}</string>
                <key>sourceSize</key>
                <string>{600,440}</string>
            </dict>
            <key>bossiscoming_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{338,186}}</string>
                <key>offset</key>
                <string>{0,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,175},{338,186}}</string>
                <key>sourceSize</key>
                <string>{600,440}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Items09-hd.pvr.ccz</string>
            <key>size</key>
            <string>{790,440}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:758561aad622f2a97af20e7e4e8333ea$</string>
            <key>textureFileName</key>
            <string>Items09-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
