<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>NT-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{196,72}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,15},{196,72}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>NT-1_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,28}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,32},{54,28}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>NT-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{196,72}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,15},{196,72}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>NT-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,968},{430,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,540}}</string>
                <key>sourceSize</key>
                <string>{430,540}</string>
            </dict>
            <key>NT-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{334,468}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,32},{334,468}}</string>
                <key>sourceSize</key>
                <string>{430,540}</string>
            </dict>
            <key>NT-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{362,502}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,15},{362,502}}</string>
                <key>sourceSize</key>
                <string>{430,540}</string>
            </dict>
            <key>NT-5_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{190,236}}</string>
                <key>offset</key>
                <string>{-1,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,84},{190,236}}</string>
                <key>sourceSize</key>
                <string>{430,540}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Items04-hd.pvr.ccz</string>
            <key>size</key>
            <string>{506,1510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4fd598c99c3568568bacc3b183321fbc$</string>
            <key>textureFileName</key>
            <string>Items04-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
