<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>NT3_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{252,246}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,5},{252,246}}</string>
                <key>sourceSize</key>
                <string>{330,260}</string>
            </dict>
            <key>NT4_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{198,242}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,4},{198,242}}</string>
                <key>sourceSize</key>
                <string>{330,260}</string>
            </dict>
            <key>NT5_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{276,248}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,4},{276,248}}</string>
                <key>sourceSize</key>
                <string>{330,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Items05-hd.pvr.ccz</string>
            <key>size</key>
            <string>{734,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5d4881528ccb203a2268b53c43602d8$</string>
            <key>textureFileName</key>
            <string>Items05-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
