<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hlb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1587,2},{75,46}}</string>
                <key>offset</key>
                <string>{-1,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,70},{75,46}}</string>
                <key>sourceSize</key>
                <string>{155,116}</string>
            </dict>
            <key>hlb10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,2},{75,106}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,10},{75,106}}</string>
                <key>sourceSize</key>
                <string>{155,116}</string>
            </dict>
            <key>hlb11.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,2},{107,104}}</string>
                <key>offset</key>
                <string>{-19,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,12},{107,104}}</string>
                <key>sourceSize</key>
                <string>{155,116}</string>
            </dict>
            <key>hlb12.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,2},{115,106}}</string>
                <key>offset</key>
                <string>{-15,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{115,106}}</string>
                <key>sourceSize</key>
                <string>{155,116}</string>
            </dict>
            <key>hlb13.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,2},{105,110}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{105,110}}</string>
                <key>sourceSize</key>
                <string>{155,116}</string>
            </dict>
            <key>hlb14.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{111,110}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,6},{111,110}}</string>
                <key>sourceSize</key>
                <string>{155,116}</string>
            </dict>
            <key>hlb15.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,2},{115,112}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{115,112}}</string>
                <key>sourceSize</key>
                <string>{155,116}</string>
            </dict>
            <key>hlb16.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,2},{109,112}}</string>
                <key>offset</key>
                <string>{-14,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{109,112}}</string>
                <key>sourceSize</key>
                <string>{155,116}</string>
            </dict>
            <key>hlb17.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{111,112}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{111,112}}</string>
                <key>sourceSize</key>
                <string>{155,116}</string>
            </dict>
            <key>hlb18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{117,112}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{117,112}}</string>
                <key>sourceSize</key>
                <string>{155,116}</string>
            </dict>
            <key>hlb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1451,2},{79,66}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,50},{79,66}}</string>
                <key>sourceSize</key>
                <string>{155,116}</string>
            </dict>
            <key>hlb21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,2},{75,106}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,10},{75,106}}</string>
                <key>sourceSize</key>
                <string>{155,116}</string>
            </dict>
            <key>hlb22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1297,2},{75,106}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,10},{75,106}}</string>
                <key>sourceSize</key>
                <string>{155,116}</string>
            </dict>
            <key>hlb23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,2},{75,106}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,10},{75,106}}</string>
                <key>sourceSize</key>
                <string>{155,116}</string>
            </dict>
            <key>hlb3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1519,2},{75,66}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,50},{75,66}}</string>
                <key>sourceSize</key>
                <string>{155,116}</string>
            </dict>
            <key>hlb4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1141,2},{77,106}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,10},{77,106}}</string>
                <key>sourceSize</key>
                <string>{155,116}</string>
            </dict>
            <key>hlb6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,2},{77,106}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,10},{77,106}}</string>
                <key>sourceSize</key>
                <string>{155,116}</string>
            </dict>
            <key>hlb8.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,2},{77,106}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,10},{77,106}}</string>
                <key>sourceSize</key>
                <string>{155,116}</string>
            </dict>
            <key>hlb9.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,2},{77,106}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,10},{77,106}}</string>
                <key>sourceSize</key>
                <string>{155,116}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Items01-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1635,116}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6d1c643ea83539a912be0ff4132a048$</string>
            <key>textureFileName</key>
            <string>Items01-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
