<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>NT6_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{272,246}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,5},{272,246}}</string>
                <key>sourceSize</key>
                <string>{330,260}</string>
            </dict>
            <key>NT7_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,2},{234,246}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,4},{234,246}}</string>
                <key>sourceSize</key>
                <string>{330,260}</string>
            </dict>
            <key>NT8_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,2},{264,246}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,5},{264,246}}</string>
                <key>sourceSize</key>
                <string>{330,260}</string>
            </dict>
            <key>NT9_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{282,248}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,4},{282,248}}</string>
                <key>sourceSize</key>
                <string>{330,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Items06-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1062,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:829a6787d847c9d17e9ab5c7b3b0434d$</string>
            <key>textureFileName</key>
            <string>Items06-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
