<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>NT10_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{252,248}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,4},{252,248}}</string>
                <key>sourceSize</key>
                <string>{330,260}</string>
            </dict>
            <key>NT11_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{262,232}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,4},{262,232}}</string>
                <key>sourceSize</key>
                <string>{330,260}</string>
            </dict>
            <key>NT12_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{248,242}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,4},{248,242}}</string>
                <key>sourceSize</key>
                <string>{330,260}</string>
            </dict>
            <key>NT13_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,266},{186,228}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,4},{186,228}}</string>
                <key>sourceSize</key>
                <string>{330,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Items07-hd.pvr.ccz</string>
            <key>size</key>
            <string>{490,496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:183600b7a46f345210388de932d791d9$</string>
            <key>textureFileName</key>
            <string>Items07-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
