<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cloud01.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,270},{78,66}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{78,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>cloud02.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,316},{70,76}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{70,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>cloud03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{78,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{78,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>cloud04.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{76,60}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,12},{76,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>cloud05.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,246},{128,68}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,7},{128,68}}</string>
                <key>sourceSize</key>
                <string>{160,80}</string>
            </dict>
            <key>cloud06.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{152,116}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,33},{152,116}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cloud07.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,128},{124,136}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{124,136}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cloud08.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,270},{70,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{70,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>cloud09.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,128},{140,70}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{140,70}}</string>
                <key>sourceSize</key>
                <string>{160,80}</string>
            </dict>
            <key>cloud10.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,329},{76,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{76,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>cloud11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,116}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,33},{152,116}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cloud12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{78,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{78,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>cloud17.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{124,138}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,10},{124,138}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cloud27.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,120},{124,136}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{124,136}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cloud37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{124,136}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{124,136}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cloud47.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{124,132}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,16},{124,132}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>hlb0.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,80},{44,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,17}}</string>
                <key>sourceSize</key>
                <string>{44,17}</string>
            </dict>
            <key>start01.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,254},{93,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,73}}</string>
                <key>sourceSize</key>
                <string>{93,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Object02-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,448}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f15a78b8cc921f2f5ab1e33ee32724b$</string>
            <key>textureFileName</key>
            <string>Object02-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
