<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gainhonor_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,644},{140,152}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,27},{140,152}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>gainhonor_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,822},{140,156}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,23},{140,156}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>gainhonor_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{150,176}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,3},{150,176}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ss_help_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,9},{42,42}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>ss_help_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,644},{68,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>ss_honor_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,822},{120,160}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{120,160}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>theme_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>theme_bg_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,984},{128,28}}</string>
                <key>offset</key>
                <string>{-3,290}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{413,16},{128,28}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>theme_bg_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,980},{142,24}}</string>
                <key>offset</key>
                <string>{-3,291}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{406,17},{142,24}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>theme_bg_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,984},{128,28}}</string>
                <key>offset</key>
                <string>{-3,290}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{413,16},{128,28}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>theme_home_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,46},{38,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,13},{38,34}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>theme_home_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,644},{62,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{62,60}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>theme_locked_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,644},{178,66}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{178,66}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>theme_play_normal_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,872},{186,72}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{186,72}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>theme_play_pressed_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,798},{186,72}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{186,72}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>timelimit_100_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,916},{258,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{258,66}}</string>
                <key>sourceSize</key>
                <string>{280,80}</string>
            </dict>
            <key>timelimit_110_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,848},{258,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{258,66}}</string>
                <key>sourceSize</key>
                <string>{280,80}</string>
            </dict>
            <key>timelimit_120_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,780},{258,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{258,66}}</string>
                <key>sourceSize</key>
                <string>{280,80}</string>
            </dict>
            <key>timelimit_140_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,712},{258,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{258,66}}</string>
                <key>sourceSize</key>
                <string>{280,80}</string>
            </dict>
            <key>timelimit_220_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,644},{258,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{258,66}}</string>
                <key>sourceSize</key>
                <string>{280,80}</string>
            </dict>
            <key>timelimit_240_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,946},{258,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{258,66}}</string>
                <key>sourceSize</key>
                <string>{280,80}</string>
            </dict>
            <key>timelimit_60_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,848},{258,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{258,66}}</string>
                <key>sourceSize</key>
                <string>{280,80}</string>
            </dict>
            <key>timelimit_80_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,780},{258,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{258,66}}</string>
                <key>sourceSize</key>
                <string>{280,80}</string>
            </dict>
            <key>timelimit_90_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,712},{258,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{258,66}}</string>
                <key>sourceSize</key>
                <string>{280,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>antiboss_bg-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1008,1014}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c813c138f12c6bb3fd1500391538f86b$</string>
            <key>textureFileName</key>
            <string>antiboss_bg-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
