<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_01_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,638},{408,296}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,26},{408,296}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>boss_01_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,1464},{408,296}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,26},{408,296}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>boss_02_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1594},{408,308}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{408,308}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>boss_02_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,958},{408,308}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{408,308}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>boss_03_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1280},{408,312}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{408,312}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>boss_03_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,324},{408,312}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{408,312}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>boss_04_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,1054},{408,296}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,26},{408,296}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>boss_04_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,644},{408,296}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,26},{408,296}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>boss_05_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,1458},{408,292}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,30},{408,292}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>boss_05_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,1048},{408,292}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,30},{408,292}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>boss_06_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{408,320}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{408,320}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>boss_06_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{408,320}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{408,320}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>boss_07_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,644},{408,312}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{408,312}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>boss_07_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,966},{408,312}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{408,312}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>boss_08_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1568},{408,298}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,24},{408,298}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>boss_08_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1268},{408,298}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,24},{408,298}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>gainhonor_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1380,1882},{140,152}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,27},{140,152}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>gainhonor_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,2},{140,156}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,23},{140,156}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>gainhonor_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,144},{150,176}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,3},{150,176}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ss_honor_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,1868},{120,160}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{120,160}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>theme_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>theme_home_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1904},{38,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,13},{38,34}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>theme_home_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,1874},{62,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{62,60}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>theme_locked_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,1936},{178,66}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{178,66}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>theme_play_normal_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1936},{186,72}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{186,72}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>theme_play_pressed_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,1936},{186,72}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{186,72}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>timelimit_100_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,1942},{258,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{258,66}}</string>
                <key>sourceSize</key>
                <string>{280,80}</string>
            </dict>
            <key>timelimit_110_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,1874},{258,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{258,66}}</string>
                <key>sourceSize</key>
                <string>{280,80}</string>
            </dict>
            <key>timelimit_120_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,1868},{258,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{258,66}}</string>
                <key>sourceSize</key>
                <string>{280,80}</string>
            </dict>
            <key>timelimit_130_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,1622},{258,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{258,66}}</string>
                <key>sourceSize</key>
                <string>{280,80}</string>
            </dict>
            <key>timelimit_140_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,1362},{258,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{258,66}}</string>
                <key>sourceSize</key>
                <string>{280,80}</string>
            </dict>
            <key>timelimit_168_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,1102},{258,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{258,66}}</string>
                <key>sourceSize</key>
                <string>{280,80}</string>
            </dict>
            <key>timelimit_180_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,842},{258,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{258,66}}</string>
                <key>sourceSize</key>
                <string>{280,80}</string>
            </dict>
            <key>timelimit_220_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,582},{258,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{258,66}}</string>
                <key>sourceSize</key>
                <string>{280,80}</string>
            </dict>
            <key>timelimit_240_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1868},{258,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{258,66}}</string>
                <key>sourceSize</key>
                <string>{280,80}</string>
            </dict>
            <key>timelimit_60_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,322},{258,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{258,66}}</string>
                <key>sourceSize</key>
                <string>{280,80}</string>
            </dict>
            <key>timelimit_80_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,322},{258,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{258,66}}</string>
                <key>sourceSize</key>
                <string>{280,80}</string>
            </dict>
            <key>timelimit_90_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1904},{258,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{258,66}}</string>
                <key>sourceSize</key>
                <string>{280,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>antiboss2-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1532,2036}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2722723d5ac00c9dd4f0114ad8b852a3$</string>
            <key>textureFileName</key>
            <string>antiboss2-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
