<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blood_110000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,684},{140,50}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,4},{140,50}}</string>
                <key>sourceSize</key>
                <string>{480,60}</string>
            </dict>
            <key>blood_20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,892},{132,50}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,4},{132,50}}</string>
                <key>sourceSize</key>
                <string>{480,60}</string>
            </dict>
            <key>blood_300000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,632},{152,50}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,4},{152,50}}</string>
                <key>sourceSize</key>
                <string>{480,60}</string>
            </dict>
            <key>blood_40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,840},{132,50}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,4},{132,50}}</string>
                <key>sourceSize</key>
                <string>{480,60}</string>
            </dict>
            <key>blood_400000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,528},{154,50}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,4},{154,50}}</string>
                <key>sourceSize</key>
                <string>{480,60}</string>
            </dict>
            <key>blood_50000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,996},{130,50}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,4},{130,50}}</string>
                <key>sourceSize</key>
                <string>{480,60}</string>
            </dict>
            <key>blood_500000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,580},{152,50}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,4},{152,50}}</string>
                <key>sourceSize</key>
                <string>{480,60}</string>
            </dict>
            <key>blood_60000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,788},{132,50}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,4},{132,50}}</string>
                <key>sourceSize</key>
                <string>{480,60}</string>
            </dict>
            <key>blood_75000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,944},{130,50}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,4},{130,50}}</string>
                <key>sourceSize</key>
                <string>{480,60}</string>
            </dict>
            <key>blood_80000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,736},{132,50}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,4},{132,50}}</string>
                <key>sourceSize</key>
                <string>{480,60}</string>
            </dict>
            <key>blood_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1890},{474,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{474,52}}</string>
                <key>sourceSize</key>
                <string>{480,60}</string>
            </dict>
            <key>boss_01_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,1242},{408,296}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,26},{408,296}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>boss_01_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,1242},{408,296}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,26},{408,296}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>boss_02_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,632},{408,308}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{408,308}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>boss_02_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,632},{408,308}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{408,308}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>boss_03_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,324},{408,312}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{408,312}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>boss_03_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{408,312}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{408,312}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>boss_04_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1240},{408,296}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,26},{408,296}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>boss_04_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1240},{408,296}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,26},{408,296}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>boss_05_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,1540},{408,292}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,30},{408,292}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>boss_05_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,1540},{408,292}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,30},{408,292}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>boss_06_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{408,320}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{408,320}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>boss_06_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{408,320}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{408,320}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>boss_07_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,318},{408,312}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{408,312}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>boss_07_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,318},{408,312}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{408,312}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>boss_08_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,942},{408,298}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,24},{408,298}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>boss_08_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,942},{408,298}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,24},{408,298}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>boss_09_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,638},{408,300}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,22},{408,300}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>boss_09_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,638},{408,300}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,22},{408,300}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>boss_10_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,940},{408,298}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,24},{408,298}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>boss_10_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,940},{408,298}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,24},{408,298}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>boss_11_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,2},{408,314}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{408,314}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>boss_11_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,2},{408,314}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{408,314}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>boss_12_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1538},{408,294}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,28},{408,294}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>boss_12_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1538},{408,294}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,28},{408,294}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>light.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,2},{212,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,0},{212,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>name_01_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,1834},{168,28}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,26},{168,28}}</string>
                <key>sourceSize</key>
                <string>{300,80}</string>
            </dict>
            <key>name_01_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1834},{188,50}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,14},{188,50}}</string>
                <key>sourceSize</key>
                <string>{300,80}</string>
            </dict>
            <key>name_02_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,1864},{212,32}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,26},{212,32}}</string>
                <key>sourceSize</key>
                <string>{300,80}</string>
            </dict>
            <key>name_02_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,522},{234,54}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,13},{234,54}}</string>
                <key>sourceSize</key>
                <string>{300,80}</string>
            </dict>
            <key>name_03_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,1834},{226,30}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,24},{226,30}}</string>
                <key>sourceSize</key>
                <string>{300,80}</string>
            </dict>
            <key>name_03_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,578},{248,50}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,14},{248,50}}</string>
                <key>sourceSize</key>
                <string>{300,80}</string>
            </dict>
            <key>name_04_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,1864},{174,30}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,24},{174,30}}</string>
                <key>sourceSize</key>
                <string>{300,80}</string>
            </dict>
            <key>name_04_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,682},{196,50}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,14},{196,50}}</string>
                <key>sourceSize</key>
                <string>{300,80}</string>
            </dict>
            <key>name_05_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,1890},{148,28}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,26},{148,28}}</string>
                <key>sourceSize</key>
                <string>{300,80}</string>
            </dict>
            <key>name_05_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,424},{170,50}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,14},{170,50}}</string>
                <key>sourceSize</key>
                <string>{300,80}</string>
            </dict>
            <key>name_06_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,1834},{218,28}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,26},{218,28}}</string>
                <key>sourceSize</key>
                <string>{300,80}</string>
            </dict>
            <key>name_06_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,630},{242,50}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,14},{242,50}}</string>
                <key>sourceSize</key>
                <string>{300,80}</string>
            </dict>
            <key>name_07_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,1834},{164,28}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,26},{164,28}}</string>
                <key>sourceSize</key>
                <string>{300,80}</string>
            </dict>
            <key>name_07_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,1834},{186,50}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,14},{186,50}}</string>
                <key>sourceSize</key>
                <string>{300,80}</string>
            </dict>
            <key>name_08_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,1834},{184,28}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,26},{184,28}}</string>
                <key>sourceSize</key>
                <string>{300,80}</string>
            </dict>
            <key>name_08_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,366},{206,50}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,14},{206,50}}</string>
                <key>sourceSize</key>
                <string>{300,80}</string>
            </dict>
            <key>name_09_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,1864},{148,30}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,24},{148,30}}</string>
                <key>sourceSize</key>
                <string>{300,80}</string>
            </dict>
            <key>name_09_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,372},{170,50}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,14},{170,50}}</string>
                <key>sourceSize</key>
                <string>{300,80}</string>
            </dict>
            <key>name_10_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,1864},{148,28}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,26},{148,28}}</string>
                <key>sourceSize</key>
                <string>{300,80}</string>
            </dict>
            <key>name_10_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,476},{168,50}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,14},{168,50}}</string>
                <key>sourceSize</key>
                <string>{300,80}</string>
            </dict>
            <key>name_11_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,1834},{204,28}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,26},{204,28}}</string>
                <key>sourceSize</key>
                <string>{300,80}</string>
            </dict>
            <key>name_11_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1814,470},{226,50}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,14},{226,50}}</string>
                <key>sourceSize</key>
                <string>{300,80}</string>
            </dict>
            <key>name_12_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,1864},{204,30}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,24},{204,30}}</string>
                <key>sourceSize</key>
                <string>{300,80}</string>
            </dict>
            <key>name_12_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1814,418},{226,50}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,14},{226,50}}</string>
                <key>sourceSize</key>
                <string>{300,80}</string>
            </dict>
            <key>theme_locked_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,304},{178,66}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{178,66}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>theme_locked_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1856,298},{178,66}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{178,66}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>theme_play_normal_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1856,224},{186,72}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{186,72}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>theme_play_normal_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1856,150},{186,72}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{186,72}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>theme_play_pressed_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1856,76},{186,72}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{186,72}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>theme_play_pressed_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1856,2},{186,72}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{186,72}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>timelimit_100_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,1482},{258,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{258,66}}</string>
                <key>sourceSize</key>
                <string>{280,80}</string>
            </dict>
            <key>timelimit_100_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,1414},{258,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{258,66}}</string>
                <key>sourceSize</key>
                <string>{280,80}</string>
            </dict>
            <key>timelimit_110_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,1346},{258,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{258,66}}</string>
                <key>sourceSize</key>
                <string>{280,80}</string>
            </dict>
            <key>timelimit_110_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,1278},{258,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{258,66}}</string>
                <key>sourceSize</key>
                <string>{280,80}</string>
            </dict>
            <key>timelimit_120_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,1210},{258,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{258,66}}</string>
                <key>sourceSize</key>
                <string>{280,80}</string>
            </dict>
            <key>timelimit_120_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,1142},{258,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{258,66}}</string>
                <key>sourceSize</key>
                <string>{280,80}</string>
            </dict>
            <key>timelimit_140_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,1074},{258,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{258,66}}</string>
                <key>sourceSize</key>
                <string>{280,80}</string>
            </dict>
            <key>timelimit_140_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1774,1006},{258,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{258,66}}</string>
                <key>sourceSize</key>
                <string>{280,80}</string>
            </dict>
            <key>timelimit_220_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,938},{258,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{258,66}}</string>
                <key>sourceSize</key>
                <string>{280,80}</string>
            </dict>
            <key>timelimit_220_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,870},{258,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{258,66}}</string>
                <key>sourceSize</key>
                <string>{280,80}</string>
            </dict>
            <key>timelimit_240_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,802},{258,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{258,66}}</string>
                <key>sourceSize</key>
                <string>{280,80}</string>
            </dict>
            <key>timelimit_240_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,734},{258,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{258,66}}</string>
                <key>sourceSize</key>
                <string>{280,80}</string>
            </dict>
            <key>timelimit_60_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1866},{258,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{258,66}}</string>
                <key>sourceSize</key>
                <string>{280,80}</string>
            </dict>
            <key>timelimit_60_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,1822},{258,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{258,66}}</string>
                <key>sourceSize</key>
                <string>{280,80}</string>
            </dict>
            <key>timelimit_80_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,1754},{258,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{258,66}}</string>
                <key>sourceSize</key>
                <string>{280,80}</string>
            </dict>
            <key>timelimit_80_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,1686},{258,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{258,66}}</string>
                <key>sourceSize</key>
                <string>{280,80}</string>
            </dict>
            <key>timelimit_90_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,1618},{258,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{258,66}}</string>
                <key>sourceSize</key>
                <string>{280,80}</string>
            </dict>
            <key>timelimit_90_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,1550},{258,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{258,66}}</string>
                <key>sourceSize</key>
                <string>{280,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>antiboss-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,1944}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:244b64dc7696af8a10d5f10b864921bc$</string>
            <key>textureFileName</key>
            <string>antiboss-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
