<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>check_close_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,1858},{68,68}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,3},{68,68}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>check_close_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1858},{68,68}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,3},{68,68}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>checkcheck_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{722,402}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,8},{722,402}}</string>
                <key>sourceSize</key>
                <string>{730,410}</string>
            </dict>
            <key>checkcheck_buy_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,726},{412,198}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{412,198}}</string>
                <key>sourceSize</key>
                <string>{430,210}</string>
            </dict>
            <key>checkcheck_buy_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1140},{412,198}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{412,198}}</string>
                <key>sourceSize</key>
                <string>{430,210}</string>
            </dict>
            <key>checkcheck_cancel_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1734},{198,198}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{198,198}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>checkcheck_cancel_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1534},{198,198}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{198,198}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>checkcheck_cm_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1030},{302,198}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{302,198}}</string>
                <key>sourceSize</key>
                <string>{320,210}</string>
            </dict>
            <key>checkcheck_cm_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,726},{302,198}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{302,198}}</string>
                <key>sourceSize</key>
                <string>{320,210}</string>
            </dict>
            <key>checkcheck_other_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1554},{302,198}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{302,198}}</string>
                <key>sourceSize</key>
                <string>{320,210}</string>
            </dict>
            <key>checkcheck_other_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,416},{302,198}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{302,198}}</string>
                <key>sourceSize</key>
                <string>{320,210}</string>
            </dict>
            <key>checkcheck_pay_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{412,198}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{412,198}}</string>
                <key>sourceSize</key>
                <string>{430,210}</string>
            </dict>
            <key>checkcheck_pay_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{412,198}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{412,198}}</string>
                <key>sourceSize</key>
                <string>{430,210}</string>
            </dict>
            <key>checkcheck_text_stage_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1140},{578,32}}</string>
                <key>offset</key>
                <string>{4,128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,61},{578,32}}</string>
                <key>sourceSize</key>
                <string>{730,410}</string>
            </dict>
            <key>checkcheck_text_stage_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,1140},{578,32}}</string>
                <key>offset</key>
                <string>{4,128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,61},{578,32}}</string>
                <key>sourceSize</key>
                <string>{730,410}</string>
            </dict>
            <key>checkcheck_text_stage_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1140},{578,32}}</string>
                <key>offset</key>
                <string>{4,128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,61},{578,32}}</string>
                <key>sourceSize</key>
                <string>{730,410}</string>
            </dict>
            <key>checkcheck_text_stone_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1140},{426,32}}</string>
                <key>offset</key>
                <string>{3,128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,61},{426,32}}</string>
                <key>sourceSize</key>
                <string>{730,410}</string>
            </dict>
            <key>checkcheck_text_stone_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1140},{444,32}}</string>
                <key>offset</key>
                <string>{3,128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,61},{444,32}}</string>
                <key>sourceSize</key>
                <string>{730,410}</string>
            </dict>
            <key>checkcheck_text_stone_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1140},{444,32}}</string>
                <key>offset</key>
                <string>{3,128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,61},{444,32}}</string>
                <key>sourceSize</key>
                <string>{730,410}</string>
            </dict>
            <key>pay_other_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1720},{198,198}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{198,198}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>pay_other_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1334},{198,198}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{198,198}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>checkcheck-hd.pvr.ccz</string>
            <key>size</key>
            <string>{609,1934}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3c2907d3e5e758dcd46155d64aa0bf6$</string>
            <key>textureFileName</key>
            <string>checkcheck-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
