<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gainhonor_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,340},{118,162}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,15},{118,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>gainhonor_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,2},{126,174}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,3},{126,174}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>gainhonor_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,178},{128,160}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,17},{128,160}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>lose_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{696,476}}</string>
                <key>offset</key>
                <string>{27,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,0},{696,476}}</string>
                <key>sourceSize</key>
                <string>{750,480}</string>
            </dict>
            <key>lose_bg_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,400},{412,86}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,196},{412,86}}</string>
                <key>sourceSize</key>
                <string>{750,480}</string>
            </dict>
            <key>win_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,2},{676,396}}</string>
                <key>offset</key>
                <string>{14,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,36},{676,396}}</string>
                <key>sourceSize</key>
                <string>{750,480}</string>
            </dict>
            <key>win_bg_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,400},{412,86}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,196},{412,86}}</string>
                <key>sourceSize</key>
                <string>{750,480}</string>
            </dict>
            <key>win_stagenum-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{162,20}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,3},{162,20}}</string>
                <key>sourceSize</key>
                <string>{192,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameover0-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1508,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3aad16e9a874e79f2e75cf03984d84e5$</string>
            <key>textureFileName</key>
            <string>gameover0-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
