<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gainhonor_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,658},{140,152}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,27},{140,152}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>gainhonor_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,658},{140,156}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,23},{140,156}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>gainhonor_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,480},{150,176}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,3},{150,176}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>lose_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{696,476}}</string>
                <key>offset</key>
                <string>{27,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,0},{696,476}}</string>
                <key>sourceSize</key>
                <string>{750,480}</string>
            </dict>
            <key>lose_bg_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,878},{380,32}}</string>
                <key>offset</key>
                <string>{-1,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,193},{380,32}}</string>
                <key>sourceSize</key>
                <string>{750,480}</string>
            </dict>
            <key>names_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,934},{170,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,10},{170,20}}</string>
                <key>sourceSize</key>
                <string>{320,40}</string>
            </dict>
            <key>names_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,850},{200,24}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,9},{200,24}}</string>
                <key>sourceSize</key>
                <string>{320,40}</string>
            </dict>
            <key>names_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,876},{208,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,10},{208,20}}</string>
                <key>sourceSize</key>
                <string>{320,40}</string>
            </dict>
            <key>names_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,922},{176,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,10},{176,20}}</string>
                <key>sourceSize</key>
                <string>{320,40}</string>
            </dict>
            <key>names_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,942},{160,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,10},{160,20}}</string>
                <key>sourceSize</key>
                <string>{320,40}</string>
            </dict>
            <key>names_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,878},{204,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,10},{204,20}}</string>
                <key>sourceSize</key>
                <string>{320,40}</string>
            </dict>
            <key>names_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,920},{170,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,10},{170,20}}</string>
                <key>sourceSize</key>
                <string>{320,40}</string>
            </dict>
            <key>names_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,920},{182,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,10},{182,20}}</string>
                <key>sourceSize</key>
                <string>{320,40}</string>
            </dict>
            <key>names_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,944},{160,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,10},{160,20}}</string>
                <key>sourceSize</key>
                <string>{320,40}</string>
            </dict>
            <key>names_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,942},{160,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,10},{160,20}}</string>
                <key>sourceSize</key>
                <string>{320,40}</string>
            </dict>
            <key>names_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,898},{194,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,10},{194,20}}</string>
                <key>sourceSize</key>
                <string>{320,40}</string>
            </dict>
            <key>names_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,900},{194,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,10},{194,20}}</string>
                <key>sourceSize</key>
                <string>{320,40}</string>
            </dict>
            <key>names_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,912},{186,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,10},{186,20}}</string>
                <key>sourceSize</key>
                <string>{320,40}</string>
            </dict>
            <key>names_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,934},{160,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,10},{160,20}}</string>
                <key>sourceSize</key>
                <string>{320,40}</string>
            </dict>
            <key>names_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,898},{198,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,10},{198,20}}</string>
                <key>sourceSize</key>
                <string>{320,40}</string>
            </dict>
            <key>names_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,912},{186,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,10},{186,20}}</string>
                <key>sourceSize</key>
                <string>{320,40}</string>
            </dict>
            <key>win_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{676,396}}</string>
                <key>offset</key>
                <string>{14,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,36},{676,396}}</string>
                <key>sourceSize</key>
                <string>{750,480}</string>
            </dict>
            <key>win_bg_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,816},{298,32}}</string>
                <key>offset</key>
                <string>{6,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,196},{298,32}}</string>
                <key>sourceSize</key>
                <string>{750,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameover1-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff190fae8faef535c474e9be797fdd91$</string>
            <key>textureFileName</key>
            <string>gameover1-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
