<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>continue_normal_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,76},{220,72}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{220,72}}</string>
                <key>sourceSize</key>
                <string>{220,80}</string>
            </dict>
            <key>continue_pressed_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,76},{220,72}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{220,72}}</string>
                <key>sourceSize</key>
                <string>{220,80}</string>
            </dict>
            <key>gainhonor_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{120,160}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{120,160}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>retry_normal_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{220,72}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{220,72}}</string>
                <key>sourceSize</key>
                <string>{220,80}</string>
            </dict>
            <key>retry_pressed_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{220,72}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{220,72}}</string>
                <key>sourceSize</key>
                <string>{220,80}</string>
            </dict>
            <key>select_normal_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{220,72}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{220,72}}</string>
                <key>sourceSize</key>
                <string>{220,80}</string>
            </dict>
            <key>select_pressed_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,72}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{220,72}}</string>
                <key>sourceSize</key>
                <string>{220,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameover-hd.pvr.ccz</string>
            <key>size</key>
            <string>{790,164}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23dcc1e64429ea562634d46ebb4a15e7$</string>
            <key>textureFileName</key>
            <string>gameover-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
