<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>continue_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,730},{260,124}}</string>
                <key>offset</key>
                <string>{-18,119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,89},{260,124}}</string>
                <key>sourceSize</key>
                <string>{400,540}</string>
            </dict>
            <key>desert_unlocked.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{382,496}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{382,496}}</string>
                <key>sourceSize</key>
                <string>{400,540}</string>
            </dict>
            <key>desert_unlocked_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,518},{234,124}}</string>
                <key>offset</key>
                <string>{17,121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,87},{234,124}}</string>
                <key>sourceSize</key>
                <string>{400,540}</string>
            </dict>
            <key>extreme_unlocked.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{400,514}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,514}}</string>
                <key>sourceSize</key>
                <string>{400,540}</string>
            </dict>
            <key>extreme_unlocked_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,856},{234,124}}</string>
                <key>offset</key>
                <string>{20,122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,86},{234,124}}</string>
                <key>sourceSize</key>
                <string>{400,540}</string>
            </dict>
            <key>goextreme.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,2},{390,514}}</string>
                <key>offset</key>
                <string>{5,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{390,514}}</string>
                <key>sourceSize</key>
                <string>{400,540}</string>
            </dict>
            <key>goextreme_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,518},{260,210}}</string>
                <key>offset</key>
                <string>{-18,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,89},{260,210}}</string>
                <key>sourceSize</key>
                <string>{400,540}</string>
            </dict>
            <key>jungle_unlocked.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{390,514}}</string>
                <key>offset</key>
                <string>{-5,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,514}}</string>
                <key>sourceSize</key>
                <string>{400,540}</string>
            </dict>
            <key>jungle_unlocked_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,856},{234,124}}</string>
                <key>offset</key>
                <string>{20,121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,87},{234,124}}</string>
                <key>sourceSize</key>
                <string>{400,540}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>goextreme-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1188,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5398d9f80d0963956200efd5cfc55385$</string>
            <key>textureFileName</key>
            <string>goextreme-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
