<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{870,60}}</string>
                <key>offset</key>
                <string>{16,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,10},{870,60}}</string>
                <key>sourceSize</key>
                <string>{960,70}</string>
            </dict>
            <key>bottom_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,2},{96,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{96,13}}</string>
                <key>sourceSize</key>
                <string>{96,15}</string>
            </dict>
            <key>bottom_num_HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,64},{192,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{192,26}}</string>
                <key>sourceSize</key>
                <string>{192,30}</string>
            </dict>
            <key>help_home_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,1278},{120,72}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{120,72}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>help_home_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,140},{120,68}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{120,68}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>help_monster_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{668,168}}</string>
                <key>offset</key>
                <string>{-13,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,251},{668,168}}</string>
                <key>sourceSize</key>
                <string>{960,530}</string>
            </dict>
            <key>monster_normal_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,1610},{60,30}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,24},{60,30}}</string>
                <key>sourceSize</key>
                <string>{170,80}</string>
            </dict>
            <key>monster_selected_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,1450},{170,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{170,46}}</string>
                <key>sourceSize</key>
                <string>{170,80}</string>
            </dict>
            <key>tips_normal_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,1540},{60,30}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,24},{60,30}}</string>
                <key>sourceSize</key>
                <string>{170,80}</string>
            </dict>
            <key>tips_selected_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,92},{170,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{170,46}}</string>
                <key>sourceSize</key>
                <string>{170,80}</string>
            </dict>
            <key>tips_text_1_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,1610},{420,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,36},{420,30}}</string>
                <key>sourceSize</key>
                <string>{850,100}</string>
            </dict>
            <key>tips_text_2_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,974},{564,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,36},{564,30}}</string>
                <key>sourceSize</key>
                <string>{850,100}</string>
            </dict>
            <key>tips_text_3_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,234},{738,30}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,36},{738,30}}</string>
                <key>sourceSize</key>
                <string>{850,100}</string>
            </dict>
            <key>tips_text_4_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,1278},{414,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,36},{414,30}}</string>
                <key>sourceSize</key>
                <string>{850,100}</string>
            </dict>
            <key>tower_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,1278},{330,470}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,9},{330,470}}</string>
                <key>sourceSize</key>
                <string>{352,490}</string>
            </dict>
            <key>tower_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,806},{330,470}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{330,470}}</string>
                <key>sourceSize</key>
                <string>{352,490}</string>
            </dict>
            <key>tower_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,806},{330,470}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{330,470}}</string>
                <key>sourceSize</key>
                <string>{352,490}</string>
            </dict>
            <key>tower_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,334},{330,470}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{330,470}}</string>
                <key>sourceSize</key>
                <string>{352,490}</string>
            </dict>
            <key>tower_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,334},{330,470}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{330,470}}</string>
                <key>sourceSize</key>
                <string>{352,490}</string>
            </dict>
            <key>tower_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,2},{330,470}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,9},{330,470}}</string>
                <key>sourceSize</key>
                <string>{352,490}</string>
            </dict>
            <key>tower_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1650},{330,470}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,9},{330,470}}</string>
                <key>sourceSize</key>
                <string>{352,490}</string>
            </dict>
            <key>tower_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,1178},{330,470}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{330,470}}</string>
                <key>sourceSize</key>
                <string>{352,490}</string>
            </dict>
            <key>tower_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,706},{330,470}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{330,470}}</string>
                <key>sourceSize</key>
                <string>{352,490}</string>
            </dict>
            <key>tower_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1650},{330,470}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,9},{330,470}}</string>
                <key>sourceSize</key>
                <string>{352,490}</string>
            </dict>
            <key>tower_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1178},{330,470}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{330,470}}</string>
                <key>sourceSize</key>
                <string>{352,490}</string>
            </dict>
            <key>tower_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,234},{330,470}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{330,470}}</string>
                <key>sourceSize</key>
                <string>{352,490}</string>
            </dict>
            <key>tower_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,706},{330,470}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{330,470}}</string>
                <key>sourceSize</key>
                <string>{352,490}</string>
            </dict>
            <key>tower_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{330,470}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{330,470}}</string>
                <key>sourceSize</key>
                <string>{352,490}</string>
            </dict>
            <key>tower_normal_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,1622},{62,32}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,22},{62,32}}</string>
                <key>sourceSize</key>
                <string>{170,80}</string>
            </dict>
            <key>tower_selected_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,1278},{170,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{170,46}}</string>
                <key>sourceSize</key>
                <string>{170,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>help_1-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1362,1982}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c60ca67a71223bac3c23c30f4f63b50f$</string>
            <key>textureFileName</key>
            <string>help_1-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
