<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tower_01_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{276,246}}</string>
                <key>offset</key>
                <string>{2,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,188},{276,246}}</string>
                <key>sourceSize</key>
                <string>{352,490}</string>
            </dict>
            <key>tower_02_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,506},{226,246}}</string>
                <key>offset</key>
                <string>{5,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,188},{226,246}}</string>
                <key>sourceSize</key>
                <string>{352,490}</string>
            </dict>
            <key>tower_03_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1496},{252,246}}</string>
                <key>offset</key>
                <string>{6,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,188},{252,246}}</string>
                <key>sourceSize</key>
                <string>{352,490}</string>
            </dict>
            <key>tower_04_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1250},{228,244}}</string>
                <key>offset</key>
                <string>{5,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,190},{228,244}}</string>
                <key>sourceSize</key>
                <string>{352,490}</string>
            </dict>
            <key>tower_05_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{276,246}}</string>
                <key>offset</key>
                <string>{4,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,188},{276,246}}</string>
                <key>sourceSize</key>
                <string>{352,490}</string>
            </dict>
            <key>tower_06_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{272,246}}</string>
                <key>offset</key>
                <string>{1,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,188},{272,246}}</string>
                <key>sourceSize</key>
                <string>{352,490}</string>
            </dict>
            <key>tower_07_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,258},{226,246}}</string>
                <key>offset</key>
                <string>{5,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,188},{226,246}}</string>
                <key>sourceSize</key>
                <string>{352,490}</string>
            </dict>
            <key>tower_08_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,994},{264,246}}</string>
                <key>offset</key>
                <string>{2,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,188},{264,246}}</string>
                <key>sourceSize</key>
                <string>{352,490}</string>
            </dict>
            <key>tower_09_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{282,246}}</string>
                <key>offset</key>
                <string>{2,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,188},{282,246}}</string>
                <key>sourceSize</key>
                <string>{352,490}</string>
            </dict>
            <key>tower_10_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,754},{228,246}}</string>
                <key>offset</key>
                <string>{7,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,188},{228,246}}</string>
                <key>sourceSize</key>
                <string>{352,490}</string>
            </dict>
            <key>tower_11_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1242},{262,246}}</string>
                <key>offset</key>
                <string>{4,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,188},{262,246}}</string>
                <key>sourceSize</key>
                <string>{352,490}</string>
            </dict>
            <key>tower_12_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1490},{258,246}}</string>
                <key>offset</key>
                <string>{3,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,188},{258,246}}</string>
                <key>sourceSize</key>
                <string>{352,490}</string>
            </dict>
            <key>tower_13_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,1002},{234,246}}</string>
                <key>offset</key>
                <string>{2,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,188},{234,246}}</string>
                <key>sourceSize</key>
                <string>{352,490}</string>
            </dict>
            <key>tower_locked_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{254,186}}</string>
                <key>offset</key>
                <string>{0,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,218},{254,186}}</string>
                <key>sourceSize</key>
                <string>{352,490}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>help_2-hd.pvr.ccz</string>
            <key>size</key>
            <string>{508,1750}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da5a501c45cf7cc3027cc09b23ba6020$</string>
            <key>textureFileName</key>
            <string>help_2-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
