<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>adventure_locked_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,442},{368,108}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,16},{368,108}}</string>
                <key>sourceSize</key>
                <string>{400,140}</string>
            </dict>
            <key>boss_deepsea_locked_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,332},{368,108}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,16},{368,108}}</string>
                <key>sourceSize</key>
                <string>{400,140}</string>
            </dict>
            <key>boss_desert_locked_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,222},{368,108}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,16},{368,108}}</string>
                <key>sourceSize</key>
                <string>{400,140}</string>
            </dict>
            <key>boss_jungle_locked_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,112},{368,108}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,16},{368,108}}</string>
                <key>sourceSize</key>
                <string>{400,140}</string>
            </dict>
            <key>boss_locked_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{368,108}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,16},{368,108}}</string>
                <key>sourceSize</key>
                <string>{400,140}</string>
            </dict>
            <key>mustupdate_notice.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,670},{722,330}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{722,330}}</string>
                <key>sourceSize</key>
                <string>{740,340}</string>
            </dict>
            <key>nest_locked_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,552},{366,108}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,16},{366,108}}</string>
                <key>sourceSize</key>
                <string>{400,140}</string>
            </dict>
            <key>notsupport_notice.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{722,330}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{722,330}}</string>
                <key>sourceSize</key>
                <string>{740,340}</string>
            </dict>
            <key>popup_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{722,334}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{722,334}}</string>
                <key>sourceSize</key>
                <string>{730,340}</string>
            </dict>
            <key>popup_btnbg_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,662},{74,28}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,31},{74,28}}</string>
                <key>sourceSize</key>
                <string>{220,100}</string>
            </dict>
            <key>popup_btnbg_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,736},{214,72}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{214,72}}</string>
                <key>sourceSize</key>
                <string>{220,100}</string>
            </dict>
            <key>popup_btnbg_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,662},{214,72}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{214,72}}</string>
                <key>sourceSize</key>
                <string>{220,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>popuplock-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1096,1002}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d7e535d574a53a6dd31c7ceec42e0d3$</string>
            <key>textureFileName</key>
            <string>popuplock-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
