<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ss_cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,128}}</string>
                <key>offset</key>
                <string>{0,-256}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,512},{960,128}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>ss_map21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,2},{506,334}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{506,334}}</string>
                <key>sourceSize</key>
                <string>{516,340}</string>
            </dict>
            <key>ss_map22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,338},{506,334}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{506,334}}</string>
                <key>sourceSize</key>
                <string>{516,340}</string>
            </dict>
            <key>ss_map23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,2},{506,334}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{506,334}}</string>
                <key>sourceSize</key>
                <string>{516,340}</string>
            </dict>
            <key>ss_map24.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,468},{506,334}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{506,334}}</string>
                <key>sourceSize</key>
                <string>{516,340}</string>
            </dict>
            <key>ss_map25.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,132},{506,334}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{506,334}}</string>
                <key>sourceSize</key>
                <string>{516,340}</string>
            </dict>
            <key>ss_map26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{506,334}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{506,334}}</string>
                <key>sourceSize</key>
                <string>{516,340}</string>
            </dict>
            <key>ss_map27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{506,334}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{506,334}}</string>
                <key>sourceSize</key>
                <string>{516,340}</string>
            </dict>
            <key>ss_towers_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,744},{227,56}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,9},{227,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,454},{287,56}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,9},{287,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1707,686},{227,56}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,9},{227,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,686},{227,56}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,9},{227,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,804},{461,56}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,9},{461,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,732},{343,56}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,9},{343,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,396},{343,56}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,9},{343,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,570},{285,56}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,9},{285,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1852,802},{169,56}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,9},{169,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{461,56}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,9},{461,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1815,454},{169,56}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,9},{169,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1755,628},{227,56}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,9},{227,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1363,732},{113,56}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,9},{113,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,674},{343,56}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,9},{343,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,804},{403,56}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,9},{403,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1363,674},{113,56}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,9},{113,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1813,570},{225,56}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,9},{225,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,338},{345,56}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,9},{345,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,512},{285,56}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,9},{285,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1679,802},{171,56}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,9},{171,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,628},{227,56}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,9},{227,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,802},{171,56}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,9},{171,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1813,512},{225,56}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,9},{225,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1871,396},{113,56}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,9},{113,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1873,338},{113,56}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,9},{113,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1707,744},{173,56}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,9},{173,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1333,802},{171,56}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,9},{171,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stages_theme52-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2040,862}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5bec96d374df417f0b2f8cbe40f8011$</string>
            <key>textureFileName</key>
            <string>stages_theme52-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
