<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>allpass.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{56,446}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{56,446}}</string>
                <key>sourceSize</key>
                <string>{60,450}</string>
            </dict>
            <key>allpass_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,786},{114,116}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{114,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>bookmark_0-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,754},{154,66}}</string>
                <key>offset</key>
                <string>{-48,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{154,66}}</string>
                <key>sourceSize</key>
                <string>{250,70}</string>
            </dict>
            <key>bookmark_1-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,598},{154,66}}</string>
                <key>offset</key>
                <string>{-48,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{154,66}}</string>
                <key>sourceSize</key>
                <string>{250,70}</string>
            </dict>
            <key>bookmark_2-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,598},{154,66}}</string>
                <key>offset</key>
                <string>{-48,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{154,66}}</string>
                <key>sourceSize</key>
                <string>{250,70}</string>
            </dict>
            <key>bookmark_3-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,712},{154,66}}</string>
                <key>offset</key>
                <string>{-48,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{154,66}}</string>
                <key>sourceSize</key>
                <string>{250,70}</string>
            </dict>
            <key>bookmark_4-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,530},{154,66}}</string>
                <key>offset</key>
                <string>{-48,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{154,66}}</string>
                <key>sourceSize</key>
                <string>{250,70}</string>
            </dict>
            <key>bookmark_5-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,644},{154,66}}</string>
                <key>offset</key>
                <string>{-48,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{154,66}}</string>
                <key>sourceSize</key>
                <string>{250,70}</string>
            </dict>
            <key>bookmark_6-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,718},{154,66}}</string>
                <key>offset</key>
                <string>{-48,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{154,66}}</string>
                <key>sourceSize</key>
                <string>{250,70}</string>
            </dict>
            <key>bookmark_7-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,794},{154,66}}</string>
                <key>offset</key>
                <string>{-48,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{154,66}}</string>
                <key>sourceSize</key>
                <string>{250,70}</string>
            </dict>
            <key>bookmark_8-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,794},{154,66}}</string>
                <key>offset</key>
                <string>{-48,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{154,66}}</string>
                <key>sourceSize</key>
                <string>{250,70}</string>
            </dict>
            <key>bookmark_9-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{154,66}}</string>
                <key>offset</key>
                <string>{-48,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{154,66}}</string>
                <key>sourceSize</key>
                <string>{250,70}</string>
            </dict>
            <key>giftthisapp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{686,526}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{686,526}}</string>
                <key>sourceSize</key>
                <string>{720,530}</string>
            </dict>
            <key>giftthisapp_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,588},{316,54}}</string>
                <key>offset</key>
                <string>{-3,-178}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,416},{316,54}}</string>
                <key>sourceSize</key>
                <string>{720,530}</string>
            </dict>
            <key>ss_help_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,530},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,9},{42,42}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>ss_help_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,884},{68,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>theme_bg_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,904},{118,32}}</string>
                <key>offset</key>
                <string>{4,291}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{425,13},{118,32}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>theme_home_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,530},{38,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,13},{38,34}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>theme_home_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,660},{62,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{62,60}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>theme_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{174,204}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{174,204}}</string>
                <key>sourceSize</key>
                <string>{180,210}</string>
            </dict>
            <key>theme_pack01_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,442},{216,46}}</string>
                <key>offset</key>
                <string>{152,143}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{404,99},{216,46}}</string>
                <key>sourceSize</key>
                <string>{720,530}</string>
            </dict>
            <key>theme_pack02_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,224},{216,46}}</string>
                <key>offset</key>
                <string>{117,143}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{369,99},{216,46}}</string>
                <key>sourceSize</key>
                <string>{720,530}</string>
            </dict>
            <key>theme_pack03_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{220,46}}</string>
                <key>offset</key>
                <string>{122,142}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{372,100},{220,46}}</string>
                <key>sourceSize</key>
                <string>{720,530}</string>
            </dict>
            <key>theme_play_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,786},{1,1}}</string>
                <key>offset</key>
                <string>{-99.5,39.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>theme_play_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,644},{186,72}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{186,72}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>theme_pointleft_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,822},{96,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{96,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>theme_pointleft_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,822},{96,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{96,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>theme_pointright_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,780},{96,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{96,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>theme_pointright_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,786},{96,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{96,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>theme_pos_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,718},{15,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{15,13}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>theme_pos_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,598},{15,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{15,13}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>themescene1-hd.pvr.ccz</string>
            <key>size</key>
            <string>{738,950}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68727968d5837ec85328da5c7892e14e$</string>
            <key>textureFileName</key>
            <string>themescene1-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
