<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>extreme_locked_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{368,108}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,16},{368,108}}</string>
                <key>sourceSize</key>
                <string>{400,140}</string>
            </dict>
            <key>extreme_locked_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,338},{326,98}}</string>
                <key>offset</key>
                <string>{-14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,20},{326,98}}</string>
                <key>sourceSize</key>
                <string>{400,140}</string>
            </dict>
            <key>extreme_locked_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{368,108}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,16},{368,108}}</string>
                <key>sourceSize</key>
                <string>{400,140}</string>
            </dict>
            <key>theme_popup_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{722,334}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{722,334}}</string>
                <key>sourceSize</key>
                <string>{730,340}</string>
            </dict>
            <key>theme_popup_btnbg_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{74,28}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,31},{74,28}}</string>
                <key>sourceSize</key>
                <string>{220,100}</string>
            </dict>
            <key>theme_popup_btnbg_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,482},{38,26}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,33},{38,26}}</string>
                <key>sourceSize</key>
                <string>{220,100}</string>
            </dict>
            <key>theme_popup_btnbg_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{74,28}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,31},{74,28}}</string>
                <key>sourceSize</key>
                <string>{220,100}</string>
            </dict>
            <key>theme_popup_btnbg_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,438},{214,72}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{214,72}}</string>
                <key>sourceSize</key>
                <string>{220,100}</string>
            </dict>
            <key>theme_popup_btnbg_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,438},{214,72}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{214,72}}</string>
                <key>sourceSize</key>
                <string>{220,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>themescene4-hd.pvr.ccz</string>
            <key>size</key>
            <string>{836,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:189115047030dee235b35cefa7e4fb1e$</string>
            <key>textureFileName</key>
            <string>themescene4-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
