<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>locked_close_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1675,555},{68,68}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,3},{68,68}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>locked_close_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,555},{68,68}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,3},{68,68}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>locked_notice_ok_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1679,340},{214,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,15},{214,72}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>locked_notice_ok_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,340},{214,72}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,15},{214,72}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>locked_notice_sbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,1},{722,330}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{722,330}}</string>
                <key>sourceSize</key>
                <string>{740,340}</string>
            </dict>
            <key>locked_notice_tobuy_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1447,220},{214,72}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{214,72}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>locked_notice_tobuy_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1447,147},{214,72}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{214,72}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>locked_text_theme2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,441},{369,107}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,17},{369,107}}</string>
                <key>sourceSize</key>
                <string>{403,141}</string>
            </dict>
            <key>locked_text_theme3.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,548},{369,107}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,17},{369,107}}</string>
                <key>sourceSize</key>
                <string>{403,141}</string>
            </dict>
            <key>locked_text_theme4.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,440},{369,107}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,17},{369,107}}</string>
                <key>sourceSize</key>
                <string>{403,141}</string>
            </dict>
            <key>locked_text_theme5.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,332},{369,107}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,17},{369,107}}</string>
                <key>sourceSize</key>
                <string>{403,141}</string>
            </dict>
            <key>stagelocked_checkagain_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1662,1},{338,70}}</string>
                <key>offset</key>
                <string>{121,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{322,79},{338,70}}</string>
                <key>sourceSize</key>
                <string>{740,340}</string>
            </dict>
            <key>stagelocked_checkagain_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1535,293},{346,70}}</string>
                <key>offset</key>
                <string>{124,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{321,79},{346,70}}</string>
                <key>sourceSize</key>
                <string>{740,340}</string>
            </dict>
            <key>stagelocked_checkagain_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,293},{346,70}}</string>
                <key>offset</key>
                <string>{124,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{321,79},{346,70}}</string>
                <key>sourceSize</key>
                <string>{740,340}</string>
            </dict>
            <key>stagelocked_checkagain_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,332},{722,330}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{722,330}}</string>
                <key>sourceSize</key>
                <string>{740,340}</string>
            </dict>
            <key>stagelocked_gobuy_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1447,74},{214,72}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{214,72}}</string>
                <key>sourceSize</key>
                <string>{220,100}</string>
            </dict>
            <key>stagelocked_gobuy_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1447,1},{214,72}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{214,72}}</string>
                <key>sourceSize</key>
                <string>{220,100}</string>
            </dict>
            <key>stagelocked_notice_sbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{722,330}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{722,330}}</string>
                <key>sourceSize</key>
                <string>{740,340}</string>
            </dict>
            <key>stagelocked_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,332},{368,108}}</string>
                <key>offset</key>
                <string>{124,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{310,59},{368,108}}</string>
                <key>sourceSize</key>
                <string>{740,340}</string>
            </dict>
            <key>stagelocked_text2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,549},{356,70}}</string>
                <key>offset</key>
                <string>{130,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{322,79},{356,70}}</string>
                <key>sourceSize</key>
                <string>{740,340}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>thempopuplock-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1752,663}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6d829bd4a5d6aeb8ec30780273d0168$</string>
            <key>textureFileName</key>
            <string>thempopuplock-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
