<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>share_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{488,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,104}}</string>
                <key>sourceSize</key>
                <string>{488,104}</string>
            </dict>
            <key>share_bg_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,2},{122,24}}</string>
                <key>offset</key>
                <string>{-7,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,10},{122,24}}</string>
                <key>sourceSize</key>
                <string>{488,104}</string>
            </dict>
            <key>share_tweibo_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,2},{64,56}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,25},{64,56}}</string>
                <key>sourceSize</key>
                <string>{164,104}</string>
            </dict>
            <key>share_tweibo_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{82,72}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,15},{82,72}}</string>
                <key>sourceSize</key>
                <string>{164,104}</string>
            </dict>
            <key>share_wechat_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,52},{56,48}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,26},{56,48}}</string>
                <key>sourceSize</key>
                <string>{164,104}</string>
            </dict>
            <key>share_wechat_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{56,48}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,26},{56,48}}</string>
                <key>sourceSize</key>
                <string>{164,104}</string>
            </dict>
            <key>share_wechat_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,28},{78,68}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,16},{78,68}}</string>
                <key>sourceSize</key>
                <string>{164,104}</string>
            </dict>
            <key>share_weibo_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,2},{52,48}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,22},{52,48}}</string>
                <key>sourceSize</key>
                <string>{164,104}</string>
            </dict>
            <key>share_weibo_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,28},{74,68}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,13},{74,68}}</string>
                <key>sourceSize</key>
                <string>{164,104}</string>
            </dict>
            <key>weibo_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,76},{5,5}}</string>
                <key>offset</key>
                <string>{-99.5,119.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,5}}</string>
                <key>sourceSize</key>
                <string>{204,244}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>weibo-hd.pvr.ccz</string>
            <key>size</key>
            <string>{910,108}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69dfd514dbf22b919df21e0e19dd8247$</string>
            <key>textureFileName</key>
            <string>weibo-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
